*,
*::before,
*::after {
  padding: 0;
  margin: 0;
    background-color: #222;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#grid {
    display: grid;
    height: 500px;
    width: 500px;
    background-color: #333;
    gap: 0;
}


.square {
    background-color: #333;
}


.main {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}

button {
    width: 300px;
    height: 60px;
    color: rgb(0, 0, 0);
    background-color: lightgrey;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 0 darkgrey;
}

button:active {
    box-shadow: none;
    transform: translateY(5px);
}

div.colorselector {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

label {
    color: white;
    font-size: 20px;
}

input {
    background-color: lightslategrey;
    border-radius: 3px;
}

select, option {
    background-color: white;
    color: black;
    width: 200px;
    height: 40px;
    font-size: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}
